<div id="toc" class="toc-article">
    <strong class="toc-title">文章目录</strong>
    <%- toc(post.content) %>
</div>

<%- js(['https://cdn.bootcdn.net/ajax/libs/jquery/1.9.1/jquery.min','https://cdn.bootcdn.net/ajax/libs/require.js/2.3.6/require.min']) %>
<script>
    var headerElement = document.getElementById('header');
    var tocElement = document.getElementById('toc');
    headerElement.appendChild(tocElement);
</script>


<% if (theme.toc_nowrap) { %>
    <style>
        .toc {
            white-space: nowrap;
            overflow-x: hidden;
        }
    </style>

    <script>
        function UrlDecode(zipStr){ 
          var uzipStr = ''; 
          for (var i = 0; i < zipStr.length; i += 1) {
            var chr = zipStr.charAt(i); 
            if (chr === '+') { 
              uzipStr += ' ';
            } else if (chr === '%') { 
              var asc = zipStr.substring(i + 1, i + 3); 
              if (parseInt('0x' + asc) > 0x7f) {
                uzipStr += decodeURI('%' + asc.toString() + zipStr.substring(i+3, i+9).toString()); 
                i += 8;
              }else{ 
                uzipStr += AsciiToString(parseInt('0x' + asc)); 
                i += 2;
              } 
            }else{ 
              uzipStr += chr; 
            } 
          } 

          return uzipStr; 
        } 

        function AsciiToString(asccode){ 
          return String.fromCharCode(asccode); 
        }

        $(document).ready(function() {
            $(".toc li a").mouseover(function() {
                var title = $(this).attr('href');
                $(this).attr("title", UrlDecode(title));
            });
        })
    </script>
<% } %>